body {
       color: #171a28;
       font-family: "M PLUS 1", sans-serif;
}

header {
       display: grid;
       grid-template-columns: auto 1fr auto;
       color: inherit;
}

header a {
       color: inherit;
       text-decoration: none;
}

header nav a {
       padding: 5px 10px;  
}

a.tesla-logo {
       height: 12px;
       width: 100px;
       color: inherit

}

header nav.nav-center-desktop {
       text-align: center;
      
}
